.home-public-desc-wrapper {
  width: 111.4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10.1rem;
}

.home-public-desc-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10.1rem;
}

.home-public-desc-title {
  font-size: 6rem;
}

.home-public-desc-text-container {
  height: 52.8rem;
  width: 111.4rem;
  margin-bottom: 10.1rem;
}

.home-public-desc-text {
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.home-public-desc-imgs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-public-desc-img-container {
  width: 50.12rem;
  height: 50.12rem;
}

.home-public-desc-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
