.hero-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-size: 6rem;
  width: 39rem;
}

.hero-img-container {
  width: 50%;
  height: 37.4rem;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
